Repository MinecraftForge/MinecraftForge, pull requests merged in 2025-07, with the labels that each got.

#10570 [1.20.1] Fix `ignitedByLava` block property making blocks permanently flammable
  patches/minecraft/net/minecraft/world/level/material/LavaFluid.java.patch
  src/main/java/net/minecraftforge/common/extensions/IForgeBlock.java
Labels: Triage, 1.20

#10571 [1.19.4] Fix `Material#isFlammable` not being accounted for in flamability
  src/main/java/net/minecraftforge/common/extensions/IForgeBlock.java
Labels: Bug, Confirmed, Triage, 1.19

#10556 [1.21.5] Add ForgeLayeredDraw & ModifyOverlayLayersEvent as API to making gui layers.
  patches/minecraft/net/minecraft/client/gui/Gui.java.patch
  src/main/java/net/minecraftforge/client/event/AddGuiOverlayLayersEvent.java
  src/main/java/net/minecraftforge/client/event/ForgeEventFactoryClient.java
  src/main/java/net/minecraftforge/client/gui/overlay/ForgeLayeredDraw.java
  src/test/generated/closed_module/module-info.dat
  src/test/generated/modify_overlay_test/data/forge/test_instance/modify_overlay_test/add_condition.json
  src/test/generated/modify_overlay_test/data/forge/test_instance/modify_overlay_test/full_stack_condition.json
  src/test/generated/modify_overlay_test/data/forge/test_instance/modify_overlay_test/not_present_in_stack.json
  src/test/generated/modify_overlay_test/data/forge/test_instance/modify_overlay_test/ordered_layers.json
  src/test/java/net/minecraftforge/debug/client/ModifyOverlayTest.java
  src/test/resources/modify_overlay_test/META-INF/mods.toml
Labels: Feature, Needs Update, New Event, Triage, LTS, 1.21

#10579 [1.21.4] Backport of ForgeLayeredDraw system & event
  patches/minecraft/net/minecraft/client/gui/Gui.java.patch
  src/main/java/net/minecraftforge/client/event/AddGuiOverlayLayersEvent.java
  src/main/java/net/minecraftforge/client/event/ForgeEventFactoryClient.java
  src/main/java/net/minecraftforge/client/gui/overlay/ForgeLayeredDraw.java
  src/test/generated/closed_module/module-info.dat
  src/test/java/net/minecraftforge/debug/client/ModifyOverlayTest.java
  src/test/resources/modify_overlay_test/META-INF/mods.toml
Labels: Feature, New Event, Triage, LTS, 1.21

#10583 [1.21.1] Backport of ForgeLayeredDraw system & event
  patches/minecraft/net/minecraft/client/gui/Gui.java.patch
  src/main/java/net/minecraftforge/client/event/AddGuiOverlayLayersEvent.java
  src/main/java/net/minecraftforge/client/event/ForgeEventFactoryClient.java
  src/main/java/net/minecraftforge/client/gui/overlay/ForgeLayeredDraw.java
  src/test/generated/closed_module/module-info.dat
  src/test/java/net/minecraftforge/debug/client/ModifyOverlayTest.java
  src/test/resources/modify_overlay_test/META-INF/mods.toml
Labels: Feature, New Event, Triage, LTS, 1.21

#10584 [1.20.x] Backport of ForgeLayeredDraw system & event
  patches/minecraft/net/minecraft/client/gui/Gui.java.patch
  src/main/java/net/minecraftforge/client/event/AddGuiOverlayLayersEvent.java
  src/main/java/net/minecraftforge/client/event/ForgeEventFactoryClient.java
  src/main/java/net/minecraftforge/client/gui/overlay/ForgeLayeredDraw.java
  src/test/generated/closed_module/module-info.dat
  src/test/java/net/minecraftforge/debug/client/ModifyOverlayTest.java
  src/test/resources/modify_overlay_test/META-INF/mods.toml
Labels: Feature, New Event, Triage, 1.20

#10593 Allow command suggestions/autocomplete to search all modded paths at once without namespace provided
  patches/minecraft/net/minecraft/commands/SharedSuggestionProvider.java.patch
Labels: Triage, LTS, 1.21
